# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy 
3. SciPy
4 Pandas

|Data Science Tools|
|-----------| 
|RStudio| 
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- List some of the popular languages that Data Scientists use
- List some of the commonly used libraries used by Data Scientists
- Table of Data Science Tools
- Example of simple arithmetic expression to mutiply then add integers

## Author
Christiaan Opperman